.middle-forgot {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0b0d1c, #1a1a2e);
  color: #fff;
  background: url("../../../../Images/Cover.png") no-repeat center center/cover;
  position: relative;
}

/*form*/
.forgot-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: calc(100vh - 60px);
  padding-left: 10%;
  position: relative;
  z-index: 1;
}

.forgot-box {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
p {
  font-size: 16px;
  margin-bottom: 30px;
  color: black;
}
input[type="text"] {
  width: 90%;
  border-width: 1px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.forgot-box .verify {
  display: flex;
  justify-content: center;
}

.forgot-box button {
  background-color: #ffeb3b;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-box button:hover {
  background-color: #fdd835;
}
/*đóng form*/
