body {
  margin: 0;
  overflow-y: auto;
}
.middle {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0b0d1c, #1a1a2e);
  color: #fff;
  background: url("../../../../Images/Cover.png") no-repeat center center/cover;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
.header {
  background-color: #233973;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.logo-container {
  position: relative;
  display: inline-block;
}
.logo-text {
  position: absolute;
  top: 25%;
  left: 130%;
  font-size: 22px;
  font-weight: bold;
}

.header .nav-links {
  display: flex;
  align-items: center;
}
.header .nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.header .nav-links a:hover {
  text-decoration: underline;
}
.header .nav-links .btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}
.header .nav-links .btn-yellow {
  background-color: #ffeb3b;
  color: #000;
}
.header .nav-links .btn-purple {
  background-color: #9c27b0;
  color: #fff;
}
.header .search-bar {
  display: flex;
  align-items: center;
}
.header .search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
.header .search-bar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
}
.header .additional-links {
  display: flex;
  align-items: center;
}
.header .additional-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.header .additional-links a:hover {
  text-decoration: underline;
}
.sub-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #233973;
  position: relative;
  z-index: 1;
}
.sub-header .additional-links {
  display: flex;
  align-items: center;
}
.sub-header .additional-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.sub-header .additional-links a:hover {
  text-decoration: underline;
}
.login-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: calc(100vh - 60px);

  padding-left: 10%;
  position: relative;
  z-index: 1;
}
.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-box .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.login-box .checkbox-container input {
  margin-right: 5px;
}
.login-box .forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.login-box .forgot-password a {
  color: #000;
  text-decoration: none;
}
.login-box .forgot-password a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #ffeb3b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.login-box button:hover {
  background-color: #fdd835;
}
