body {
  /* 
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0b0d1c, #1a1a2e);
    color: #fff;
    background: url("../../../public/Images/Cover.png") no-repeat center
      center/cover;
    position: relative; */
  margin: 0;
  overflow-y: auto;
}
.middle {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0b0d1c, #1a1a2e);
  color: #fff;
  background: url("../../../../Images/Cover.png") no-repeat center center/cover;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
.header {
  background-color: #233973;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.logo-container {
  position: relative;
  display: inline-block;
}
.logo-text {
  position: absolute;
  top: 25%;
  left: 130%;
  font-size: 22px;
  font-weight: bold;
}

.header .nav-links {
  display: flex;
  align-items: center;
}
.header .nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.header .nav-links a:hover {
  text-decoration: underline;
}
.header .nav-links .btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}
.header .nav-links .btn-yellow {
  background-color: #ffeb3b;
  color: #000;
}
.header .nav-links .btn-purple {
  background-color: #9c27b0;
  color: #fff;
}
.header .search-bar {
  display: flex;
  align-items: center;
}
.header .search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
.header .search-bar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
}
.header .additional-links {
  display: flex;
  align-items: center;
}
.header .additional-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.header .additional-links a:hover {
  text-decoration: underline;
}
.sub-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #233973;
  position: relative;
  z-index: 1;
}
.sub-header .additional-links {
  display: flex;
  align-items: center;
}
.sub-header .additional-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.sub-header .additional-links a:hover {
  text-decoration: underline;
}

.container {
  background-color: white;
  width: 400px;
  /* max-height: calc(100vh - 60px); */
  margin-left: 200px;
  padding: 20px;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}
.form-group > label {
  color: #0a0a0a;
  font-weight: bold;
}
.form-group > input:not([type="checkbox"]) {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group .icon input {
  padding-right: 30px;
}
.form-group .icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
*/ .form-group .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group .policy {
  margin-bottom: 10px;
}
.form-group .policy a {
  color: #000033;
  text-decoration: none;
}
.form-group .policy a:hover {
  text-decoration: underline;
}
.form-group .submit-btn {
  background-color: #ffeb3b;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
.form-group .login-link {
  text-align: center;
  margin-top: 10px;
}
.form-group .login-link a {
  color: #000033;
  text-decoration: none;
}
.form-group .login-link a:hover {
  text-decoration: underline;
}

.container .login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .login-link a {
  color: black;
  margin-left: 5px;
}

.container .login-link a:hover {
  cursor: pointer;
  color: purple;
  text-decoration: underline;
}
